<h1 class="title has-text-primary">Product Categories</h1>
<div class="grid is-col-min-12 row-gap-6">
  <% @product_category.each do |category| %>
     <div class="cell">
    <div class="box">
    <%= link_to category.product_type, product_category_path(category) %>
    </div>
    </div>

    <% end %>
</div>
