<h1><%= @product_category.product_type %></h1>
<h2>Products</h2>

<div class="columns is-multiline">
  <% @makeup_product.each do |product| %>
      <%= render 'layouts/product_card', makeup_product: product %>
  <% end %>
</div>
