<section class="hero">
<div class="hero-body">
<h1 class="title is-4 has-text-danger	">Welcome to the Makeup Product Database</h1>
<p>Explore our extensive collection of makeup products.</p>
</div>
</section>
<%= will_paginate @makeup_products, renderer: BulmaPagination::Rails, class: 'is-small is-centered' %>
<div class="columns is-multiline">
  <% @makeup_products.each do |product| %>
    <%= render 'layouts/product_card', makeup_product: product %>

    <% end %>

</div>


<%= will_paginate @makeup_products, renderer: BulmaPagination::Rails, class: 'is-centered' %>
