@import "bulma";

:root {
  --bulma-link-text: #555555;

  .has-text-primary {
    color: #800080 !important;
  }
}

.navbar-start {
  display: flex;
  justify-content: center;
  align-items: center;
}
