@import "bulma";

:root {
  --bulma-link-text: #555555;

  .has-text-primary {
    color: #800080 !important;
  }
}

.navbar-start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the end horizontally */
}

.horizontal-align-bottom {
  display: flex;
  align-items: flex-end; /* Align items to the bottom horizontally */
  gap: 1rem; /* Optional: Add spacing between items */
}
