<h1 class="title has-text-primary">Brands</h1>

<div class="grid is-col-min-12 row-gap-6">
  <% @brand.each do |brand| %>
    <div class="cell">
    <div class="box">
    <%= link_to brand.brand_name, brand_path(brand) %>
    </div>
    </div>
  <% end %>
</div>
