<section class="hero">
  <div class="hero-body">
    <h1 class="title is-4 has-text-danger">
      <%= @brand.brand_name.capitalize %>
    </h1>
  </div>
</section>

<div class="columns is-multiline">
  <% @makeup_products.each do |product| %> <%= render 'layouts/product_card',
  makeup_product: product %>
  <% end %>
</div>
